<a href="https://colab.research.google.com/github/moosemaniam/IISCDeepLearning/blob/main/SparkExercizes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Spark exercizes for test

In [ ]:
!pip -q install pyspark

     |████████████████████████████████| 212.4 MB 67 kB/s
     |████████████████████████████████| 198 kB 44.1 MB/s
  Building wheel for pyspark (setup.py) ... done

In [ ]:
#Initiate
# Start spark session
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, udf  # User Defined Functions
from pyspark.sql.types import StringType
from operator import add
spark = SparkSession.builder.appName('Spark_RDD').getOrCreate()
sc = spark.sparkContext

Problem :You are given a CSV file of the form "studentID, courseID, marks" for students
in a university. Provide the Spark transformations and actions using RDDs to (i)
calculate the average marks per course, (ii) average marks per student and (iii)
the number of students in the university.

In [ ]:
dataRDD  = sc.parallelize([ ("ram", "Maths", 83), ("ram", "Physics", 74), ("ram", "Chemistry", 91), ("ram", "Biology", 82),

("suresh", "Maths", 69), ("suresh", "Physics", 62), ("suresh", "Chemistry", 97), ("suresh", "Biology", 80),

("ramesh", "Maths", 78), ("ramesh", "Physics", 73), ("ramesh", "Chemistry", 68), ("ramesh", "Biology", 87),

("john", "Maths", 87), ("john", "Physics", 93), ("john", "Chemistry", 91), ("john", "Biology", 74),

("sita", "Maths", 56), ("sita", "Physics", 65), ("sita", "Chemistry", 71), ("sita", "Biology", 68),

("harsha", "Maths", 86), ("harsha", "Physics", 62), ("harsha", "Chemistry", 75), ("harsha", "Biology", 83),

("Anu", "Maths", 63), ("Anu", "Physics", 69), ("Anu", "Chemistry", 64), ("Anu", "Biology", 60)], 3)

In [ ]:
#Average marks per course 
def func(tpl):
  return((tpl[1],tpl[2]))
#Create RDD pair for subject,marks
subjectRDD = dataRDD.map(func)

aTuple=(0,0)
sumRDD = subjectRDD.aggregateByKey(aTuple, lambda a,b: (a[0] + b,    a[1] + 1),
                                       lambda a,b: (a[0] + b[0], a[1] + b[1]))
finalResult = sumRDD.mapValues(lambda v: v[0]/v[1])
finalResult.collect()

[('Physics', 71.14285714285714),
 ('Biology', 76.28571428571429),
 ('Maths', 74.57142857142857),
 ('Chemistry', 79.57142857142857)]

In [ ]:
def func(tpl):
  return((tpl[0],tpl[2]))
#Create RDD pair for person,marks
marksRDD = dataRDD.map(func)

aTuple=(0,0)
sumRDD = marksRDD.aggregateByKey(aTuple, lambda a,b: (a[0] + b,    a[1] + 1),
                                       lambda a,b: (a[0] + b[0], a[1] + b[1]))
finalResult = sumRDD.mapValues(lambda v: v[0]/v[1])
finalResult.collect()

[('suresh', 77.0),
 ('ram', 82.5),
 ('ramesh', 76.5),
 ('Anu', 64.0),
 ('john', 86.25),
 ('sita', 65.0),
 ('harsha', 76.5)]

In [ ]:
def func(tpl):
  return((tpl[0]))
personRDD = dataRDD.map(func).distinct()
personRDD.count()

7